<h3>Register</h3>

<div class="form">
	<div class="line">
		<label>Email
			<input type="text" ng-model="newEmail" />
		</label>
	</div>
	<div class="line">
		<label>Password
			<input type="password" ng-model="newPassword" />
		</label>
	</div>
	<div class="line">
		<label>Confirm
			<input type="password" ng-model="confirmPassword" />
		</label>
	</div>

	<input type="button" ng-click="register()" value="Register" />
</div>
