<div id="projects_list">
	<h3>Projects</h3>

	<ul class="projects">
		<li ng-repeat="project in projects">
			<a href="#/project/{{project.id}}/tasks">{{project.name}}</a>
			<span>{{countProjectTasks(project.id)}}</span>
		</li>
	</ul>

	<div class="form">
		<div class="line">
			<label>Name
				<input type="text" ng-model="newProject.name" />
			</label>
		</div>
		<input type="button" value="Add Project" ng-click="addProject()"/>
	</div>
</div>

<div id="project_content">
	<h1>{{project.name}}</h1>
	<div ui-view></div>
</div>
