<div class="task_header">
	<span class="completion">
		<input type="checkbox" ng-model="task.completed" />
	</span>
	<span class="name">{{task.name}}</span>
</div>

<div ng-if="task.childTasks.length > 0">
	<div class="sub_tasks">
		<div class="task" ng-repeat="task in task.childTasks" ng-include="'assets/views/task.html'"></div>
	</div>
</div>
