<div id="tasks_hierarchy">
	<div class="task" ng-repeat="task in tasks" ng-include="'assets/views/task.html'">
	</div>
</div>

<div id="add_task_form" class="form">
	<div class="line">
		<label>Task Name:
			<input type="text" ng-model="newTask.name" />
		</label>
	</div>
	<input type="button" value="Add Task" ng-click="addTask()" />
</div>
