@import "lib/elements";
@import "lib/global";

ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

li.task
{
	margin-top: 4px;
	opacity: 0.5;

	border-top: 1px @task_line_colour solid;
	

	&:hover
	{
		opacity: 1;

		> .taskHeader
		{
			background-color: @task_bg_colour;
		}
	}
}

.taskHeader
{
	padding: 4px;
	padding-left: 0;
}

.subTasks
{
	margin-left: 9px;
	border-left: 1px @task_line_light_colour solid;
	padding-left: 9px;
}
