@lightGrey: #DDD;

#tasks_hierarchy
{
	margin-bottom: 20px;

	.task
	{
		.task_header
		{
			border-top: 1px solid @lightGrey;
			display: inline-block;
			min-width: 50%;
			height: 30px;

			.name
			{
				line-height: 30px;
			}

			.completion
			{
				width: 13px;
				height: 13px;
				padding: 0;
				margin: 0;
				vertical-align: bottom;
				position: relative;
				top: 2px;
			}
		}

		&:last-child .task_header
		{
			border-bottom: 1px solid @lightGrey;
		}

		.collapseButton
		{	
			margin-bottom: -2px;
			width: 16px;
			height: 16px;
			cursor: pointer;
			display: inline-block;

		}

		.sub_tasks
		{
			display: inline-block;
			border-top: 1px solid @lightGrey;
			border-left: 1px dashed @lightGrey;
			margin-left: 10px;
			padding-left: 10px;

			.task
			{
				&:first-child .task_header
				{
					border-top: none;
				}

				&:last-child .task_header
				{
					border-bottom: none;
				}
			}
		}
	}
}
