.hider
{
	display: none;
}

.ui-tabs-hide
{
	display: none;
}

.highlight
{
	border: 2px dashed #AAAAAA;
}

#foldersDimmer, #tasksDimmer
{
	position: absolute;
	z-index: 1;
	opacity: 0.8;
	background-color: #FFF;
	height: 100%;
}

#foldersDimmer:hover, #tasksDimmer:hover
{
	opacity: 0.5;
}

#foldersDimmer
{
	width: 170px;
}

#tasksDimmer
{
	width: 720px;
}

.textButton
{
	cursor: pointer;
}

.textButton:hover
{
	text-decoration: underline;
}

#topMenu li:hover span
{
	text-decoration: underline;
	color: black;
}

#topMenu span
{
	text-decoration: none;
	color: grey;
}

#controlsPanel
{
	margin-top: 4px;
	padding: 4px;
	
	font-size: 12px;
}

#tabs
{
	padding: 0;
	margin: 0 4px;
	border: none;
}

#controlsPanel table
{
	margin: 2px;
	border: 1px solid black;
	border-collapse: collapse;
}

#controlsPanel table td, #controlsPanel table th
{
	border: 1px solid black;
	padding: 2px;
	max-width: 240px;
}