#folders
{
	border-right: 2px solid black;
	border-top: 2px solid black;
	width: 140px;
	margin: 10px 5px;
	padding-right: 10px;
	float: left;
}

#foldersHeader
{
	text-align: center;
}

#folders div.selectedFolder
{
	border-bottom: 2px solid black;
	border-top: 2px solid black;
	font-weight: bold;
}

#folders div.selectedFolder .name
{
	text-decoration: underline;
}


.folder
{
	padding: 8px 0;
	border-bottom: 1px solid #CCC;
	border-top: 1px solid white;
	
	cursor: pointer;
}

#folders .folder:hover
{
	border-bottom: 1px solid grey;
	border-top: 1px solid grey;
}

#folders .folder:hover .name
{
	text-decoration: underline;
}

.folder:hover .taskCount
{
	background-color: #E77471;
}

#folders div#currentFolder
{
	background-color: #CCEEFF;
	
	cursor: default;
}

.folder .name
{
	margin-left: 4px;
}

.folder .taskCount
{
	padding: 1px 3px;
	font-size: 14px;
}

#folderSubmit
{
	display: none;
}

#addFolder
{
	margin-top: 20px;
}

#addFolderButton
{
	cursor: pointer;
}

#addFolderButton:hover
{
	text-decoration: underline;
}