body {
  margin: 0;
  padding: 10px;
}
#logo {
  color: black;
  float: left;
  text-decoration: none;
}
#logo:hover h1 {
  text-decoration: underline;
}
#footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: white;
}
#header {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
#topMenu {
  position: fixed;
  top: 0px;
  width: 100%;
}
#topMenu ul {
  background-color: white;
  border: 1px solid black;
  border-top: none;
  width: 300px;
  height: 24px;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
#topMenu ul li {
  display: inline-block;
  margin-left: 10px;
}
#topMenu ul li:first-child {
  margin-left: 0;
}
#topMenu ul li a {
  color: black;
}
#topMenu ul li a:hover {
  text-decoration: none;
}
