#topMenu
{
	float: right;
}

#topMenu li
{
	list-style-type: none;
	float: left;
	margin-left: 20px;
	padding: 0 3px;
}

#topMenu li:hover a
{
	color: black;
	text-decoration: underline;
}

#topMenu a
{
	text-decoration: none;
	color: grey;
}

#content
{
	clear: both;
}

#footer
{
	clear: both;
}