#register
{
	width: 400px;
	margin: 0 auto;
}

#register input
{
	margin-right: auto;
}

#register .line
{
	margin: 8px 0;
}

#register .label
{
	float: left;
	text-align: right;
	
	width: 154px;
	margin-right: 24px;
}

#recaptcha_widget_div
{
	margin-left: 40px;
}

#submit
{
	margin-left: 150px;
}