#tasks_hierarchy {
  margin-bottom: 20px;
}
#tasks_hierarchy .task .task_header {
  border-top: 1px solid #dddddd;
  display: inline-block;
  min-width: 50%;
  height: 30px;
}
#tasks_hierarchy .task .task_header .name {
  line-height: 30px;
}
#tasks_hierarchy .task .task_header .completion {
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: 2px;
}
#tasks_hierarchy .task:last-child .task_header {
  border-bottom: 1px solid #dddddd;
}
#tasks_hierarchy .task .collapseButton {
  margin-bottom: -2px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  display: inline-block;
}
#tasks_hierarchy .task .sub_tasks {
  display: inline-block;
  border-top: 1px solid #dddddd;
  border-left: 1px dashed #dddddd;
  margin-left: 10px;
  padding-left: 10px;
}
#tasks_hierarchy .task .sub_tasks .task:first-child .task_header {
  border-top: none;
}
#tasks_hierarchy .task .sub_tasks .task:last-child .task_header {
  border-bottom: none;
}
