{% import "lib/resources" as resources %}

{% set baseJs = [
	"lib/jquery.min.js",
] %}

<!doctype html>
<html lang="en" ng-app="app">

<head>
{% block head %}
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
	<title>{{title}}</title>
                

	{{resources.scripts("/assets/js/", baseJs)}}
{% endblock %}
</head>

{% block body %}
	<body>
	{% block header %}
	<div id="page">

		<div id="header">
			<a href="#/" id="logo">
			<h1>Frumble</h1>
			</a>


			<div id="topMenu">
				<ul>
				{% block menu %}
					<li><a href="#/settings">settings</a></li>
					<li><a href="http://frumble.ideascale.com" target="_blank">make a suggestion</a></li>
					<li><a href="#/logout">logout</a></li>
					<li><a href="#/projects">projects</a></li>
				{% endblock %}
				</ul>
			</div>
		
		</div>
	{% endblock %}

		<div id="content" ui-view>
		</div>

	{% block footer %}
		<div id="footer">
			<br />
			<hr />
			<p class="copy">
			Copyright &copy; 2010, Ryan Badour
			</p>
		</div>

	</div>
	{% endblock %}
{% endblock %}

{% block end_body %}
		<script data-main="assets/js/main" src="/assets/js/lib/require.min.js"></script>                
	</body>
</html>
{% endblock %}
