{% extends "base.html" %}

{% block content %}
	<div id="controlsPanel">
		<div id="tabs">
		<ul class="tabnav">
			<li><a href="#movement">Movement</a></li>
			<li><a href="#actions">Actions</a></li>
		</ul>
		
		<div id="movement" class="tabdiv">
		<table>
			<tr>
				<th>Key(s)</th>
				<th>Description</th>
			</tr>
			<tr>
				<td>Up, Down</td>
				<td><b>Select</b> tasks or folders</td>
			</tr>
			<tr>
				<td>Ctrl + (Up, Down)</td>
				<td><b>Move</b> a task or folder when adding or editing</td>
			</tr>
			<tr>
				<td>Ctrl + (Left, Right)</td>
				<td>Changes the <b>indent</b> of a task or folder</td>
			</tr>
			<tr>
				<td>Ctrl + (Arrow) + Selecting Task/Folder</td>
				<td>Starts <b>adding</b> a task or folder in the <b>direction</b> of the arrow</td>
			</tr>
		</table>
		</div>
		
		<div id="actions" class="tabdiv">
		<table>
			<tr>
				<th>Key(s)</th>
				<th>Description</th>
			</tr>
			<tr>
				<td>A</td>
				<td>Starts <b>adding</b> a task or folder</td>
			</tr>
			<tr>
				<td>B</td>
				<td><b>Collapse/Uncollapse</b> a task's <b>body</b> or show/hide a folder's notes</td>
			</tr>
			<tr>
				<td>C</td>
				<td><b>Collapse/Uncollapse</b> a task or folder's <b>children</b></td>
			</tr>
			<tr>
				<td>D</td>
				<td><b>Delete</b> the selected task or folder</td>
			</tr>
			<tr>
				<td>E</td>
				<td>Starts <b>editing</b> the current task or folder's title</td>
			</tr>
			<tr>
				<td>Enter + Selecting Task</td>
				<td><b>Checks/Unchecks</b> the selected task</td>
			</tr>
			<tr>
				<td>Enter + Selecting Folder</td>
				<td><b>Opens</b> the selected folder</td>
			</tr>
			<tr>
				<td>Enter + Editing Task/Folder</td>
				<td><b>Accept</b> changes when editing or adding a task or folder</td>
			</tr>
			<tr>
				<td>Esc</td>
				<td><b>Cancels</b> the current action</td>
			</tr>
			<tr>
				<td>Tab</td>
				<td><b>Cycles</b> focus between the task and folder sections of the dashboard</td>
			</tr>
			<tr>
				<td>Tab + Editing Task/Folder</td>
				<td><b>Cycles</b> focus between the title and body/notes of a task/folder</td>
			</tr>
		</table>
		</div>
		</div>
	</div>

	<div id="foldersDimmer" onclick="cycleToFolders()"></div>
	<div id="folders" onclick="cycleToFolders()">
	
		<h3 id="foldersHeader">Folders:</h3>
		<form id="changeFolders" method="GET">
	<?php
		$i = 0;
		$numFolders = count($folders);
		while ($i != $numFolders)
		{
			$folder = &$folders[$i];
			if ($i + 1 == $numFolders)
				// The hypothetical finishing indent is 0
				$nextIndent = 0;
			else
				$nextIndent = $folders[$i + 1]->indentLevel;
		?>
			<div class="folder" <?php echo (isset($currentFolder) && $folder->getId() == $currentFolder->getId()) ?
												'id="currentFolder"' : 
			                                    'onclick="chooseFolder(this)"' ?>
			index="<?php echo $folder->placementIndex ?>" folderId="<?php echo $folder->getId() ?>">
			
				<div class="folderContent" onclick="selectFolder($(this).parent('.folder'))">
					<span class="folderCount"><?php echo $folder->countTasks() ?></span>
					<span class="name"><?php echo $folder->name ?></span>
				</div>
				
				<div class="subFolders<?php echo $folder->isCollapsed ? ' hider' : '' ?>">
	<?php		
				// Here we decide how many closing divs for subtasks and task we need
				// If the next task is above us in the hierarchy then we need to close our differing amount
				if ($nextIndent < $folder->indentLevel)
					$diff = ($folder->indentLevel - $nextIndent) + 1;
				else if ($nextIndent == $folder->indentLevel)
					$diff = 1;
				else
					$diff = 0;
				
				// Create $diff number of closing tags
				for ($indent = 0; $indent != $diff; ++$indent)
				{
	?>
				</div>
			</div>
	<?php
				}
				
			++$i;
		}
	?>
			<input type="hidden" name="folder" id="folderId" value="" />
		</form>
		
		<div id="addFolder">
			<span id="addFolderButton" class="textButton" onclick="enableAddFolder('none')">add new folder</span>	
			<input type="text" id="addFolderTitle" class="hider" onkeypress="return removeHotkey(this)" />
			
			<span id="addFolderArrows" class="hider">
				<span id="leftArrow" class="arrow" onclick="moveFolder('left')"></span>
				<span id="upArrow" class="arrow" onclick="moveFolder('up')"></span>
				<span id="downArrow" class="arrow" onclick="moveFolder('down')"></span>
				<span id="rightArrow" class="arrow" onclick="moveFolder('right')"></span>
			</span>
			
			<br />
			<span id="addFolderOpenBody" class="textButton hider" 
				  onclick="cycleAddFolderFocus(true)">- add body</span>
			
			<br />
			<span id="addFolderBodyContainer" class="hider">
				<textarea id="addFolderBody" type="textbox"></textarea>
				<br />
			</span>
			<span id="submitAddFolderButton" class="textButton hider" onclick="submitKey()">add folder</span>
			<span id="cancelAddFolderButton" class="textButton hider" onclick="cancelKey()">cancel</span>
			<input type="hidden" id="addFolderIndent" value="0" />
			<input type="hidden" id="addFolderIndex" value="" />
			<input type="hidden" id="editFolderId" value="" />
			
			<div id="addFolderSubFolders">
			</div>
		</div>
	</div>
	
	<div id="taskSection" onclick="cycleToTasks()">
		<div id="tasksDimmer" class="hider"></div>
		
		<div id="thisFolder">
			<h3><?php echo $currentFolder->name ?></h3>
			<span><?php echo $currentFolder->notes ?></span>
		</div>
		
		<div id="tasks">
	<?php
		if ( isset($currentFolder) )
		{
			$tasks = $currentFolder->getTasks(0, -1, 'placementIndex', 'ASC');
			
			$numTasks = count($tasks);
			$i = 0;
			while ($i != $numTasks)
			{
				$task = &$tasks[$i];
				if ($i + 1 == $numTasks)
					// The hypothetical finishing indent is 0
					$nextIndent = 0;
				else
					$nextIndent = $tasks[$i + 1]->indentLevel;
				
	?>
			<div class="task"
				 taskid="<?php echo $task->getId() ?>" 
				 index="<?php echo $task->placementIndex ?>"
				 iscollapsed="<?php echo $task->isCollapsed ?>"
				 isbodycollapsed="<?php echo $task->isBodyCollapsed ?>"
				 indentlevel="<?php echo $task->indentLevel ?>">
				
				<div class="taskContent<?php echo $task->isChecked ? ' checked' : '' ?>" onclick="selectTask($(this).parent('.task'))">
				<img class="collapseButton" onclick="collapseToggleTask($(this).parent('.taskContent').parent('.task'))" src="
				<?php 
				if ( isset($tasks[$i+1]) && $nextIndent > $task->indentLevel )
					echo 'img/task'. ($task->isCollapsed ? 'Collapsed' : 'Uncollapsed') .'Button.png';
				else
					echo 'img/noButton.png';
				?>
				" />
				<input type="checkbox" onChange="taskCheckChange($(this).parent('.taskContent').parent('.task'), false)" <?php echo $task->isChecked ? 'checked="checked"' : '' ?>/>
				<span class="taskTitle" ondblclick="enableEditTask($(this).parent('.taskContent').parent('.task'), 'title')"><?php echo Functions::clampStringLength($task->title, 90-($task->indentLevel*4)) ?></span>
				<span class="editButton" onclick="enableEditTask($(this).parent('.taskContent').parent('.task'), 'title')"></span>
				<span class="deleteButton" onclick="deleteTask($(this).parent('.taskContent').parent('.task'))"></span>
				
				<?php 
				if ($task->body != '')
				{
				?>
					<br />
					<span class="bodyCollapseButton <?php echo $task->isBodyCollapsed ? 'bodyOpenButton' : 'bodyCloseButton' ?>"
						 onclick="collapseBodyToggleTask($(this).parent('.taskContent').parent('.task'))">
					</span>
					<br />
				<?php
				}
				?>
				<span class="taskBody<?php echo ($task->isBodyCollapsed ? ' hider' : '') ?>" ondblclick="enableEditTask($(this).parent('.taskContent').parent('.task'),'body')"><?php echo $task->body ?></span>
				</div>
				
				<div class="subTasks<?php echo $task->isCollapsed ? ' hider' : '' ?>">
	<?php		
				// Here we decide how many closing divs for subtasks and task we need
				// If the next task is above us in the hierarchy then we need to close our differing amount
				if ($nextIndent < $task->indentLevel)
					$diff = ($task->indentLevel - $nextIndent) + 1;
				else if ($nextIndent == $task->indentLevel)
					$diff = 1;
				else
					$diff = 0;
				
				// Create $diff number of closing tags
				for ($indent = 0; $indent != $diff; ++$indent)
				{
	?>
				</div>
			</div>
	<?php
				}
	
				++$i;
			}
			
			if ($numTasks == 0)
			{
				echo '<p>There are no tasks in this folder!</p>';
			}
		}
		else
			echo '<p>Select or create a folder to get started!</p>';
	?>
			<div id="addTaskButton" class="textButton" onclick="enableAddTask('none')">add new task</div>	
			
			<div id="addTask" class="hider">
				<input type="text" id="addTaskTitle" onkeypress="return removeHotkey(this)" />
				
				<div id="addTaskArrows">
					<span id="leftArrow" class="arrow" onclick="moveTask('left')"></span>
					<span id="upArrow" class="arrow" onclick="moveTask('up')"></span>
					<span id="downArrow" class="arrow" onclick="moveTask('down')"></span>
					<span id="rightArrow" class="arrow" onclick="moveTask('right')"></span>
				</div>
				
				<br />
				<span id="addTaskOpenBody" class="textButton" 
				      onclick="cycleAddTaskFocus(true)">- add body</span>
				
				<br />
				<span id="addTaskBodyContainer" class="hider">
					<textarea id="addTaskBody" type="textbox"></textarea>
					<br />
				</span>
				<span id="submitAddTaskButton" class="textButton" onclick="submitKey()">add task</span>
				<span id="cancelAddTaskButton" class="textButton" onclick="cancelKey()">cancel</span>
				<input type="hidden" id="addTaskIndent" value="0" />
				<input type="hidden" id="addTaskIndex" value="" />
				<input type="hidden" id="editTaskId" value="" />
				
				<div id="addTaskSubTasks">
				</div>
			</div>
		
		</div>
	</div>
