{% extends "base" %}

{% block head %}
	{{parent()}}
	{{resources.styles("/assets/less/", [
		"dashboard.less"
	], true)}}
	{{resources.scripts("/assets/js/", [
	])}}
{% endblock %}

{% block content %}
<h2>{{project.name}}</h2>

<ul>
	{{_self.output_tasks(tasks)}}
</ul>
{% endblock %}

{% macro output_tasks(tasks) %}
	{% for taskLevel in tasks %}
		{% set task = taskLevel.task %}
		<li class="task">
			<div class="taskHeader" data-task-id="{{task.id}}">
				<input type="checkbox" class="task_completed" />
				<span class="taskName">{{task.name}}</span>
			</div>
			{% if taskLevel.subTasks|length > 0 %}
			<ul class="subTasks">
				{{_self.output_tasks(taskLevel.subTasks)}}
			</ul>
			{% endif %}
		</li>
	{% endfor %}
{% endmacro %}
