{% extends "base" %}

{% block head %}
	{{parent()}}
	{{resources.styles("/assets/less/", [
		"login.less"
	])}}
	{{resources.scripts("/assets/js/", [
		"chroma-hash.js",
		"login.js",
	])}}
{% endblock %}

{% block content %}

	<div id="explain">
		<p>
		Welcome to my newest creation. Sorry about the mess this version is just a functional demo nothing pretty.<br />
		If you haven't <a href="/register">register</a> you should, then you can actually do something!
		</p>
		<br />
		
		<p>
		Maybe you just want to make a <a href="http://frumble.ideascale.com" target="_blank">suggestion</a>?
		</p>
	</div>
	<fieldset id="login">
		<legend>Login</legend>
		{% if form_error is defined %}
		<p id="error">{{formError}}</p>
		{% endif %}

		<form name="login" action="/auth/login" method="POST">
			<label>username:<br />
				<input type="text" name="username" maxlength="{{CONFIG.MAX_USERNAME}}"
				{% if fillForm is defined %} value="{{fillForm.username}}" {% endif %} />
			</label>
			<br />
			
			<label>password:<br />
			<input type="password" name="password" maxlength="40" />
			</label>
			<br />
			
			<label>
			<input type="checkbox" name="rememberMe" value="true" 
			{% if fillForm is defined and fillForm.rememberMe %} checked="checked" {% endif %} />
			remember me</label>
			<br />
			
			<input type="submit" name="submit" value="Login" />
		</form>
	</fieldset>
	
	<div>
		<input type="hidden" value="{{formToken}}" />
	</div>
{% endblock %}
